
<div >
    <div class="modal-header">
        <h3 class="modal-title">Edit Row</h3>
    </div>
    <div class="modal-body">
        <div>
        <div class="DescriptionEditContent"  text-angular="text-angular" ng-model="opted.Description"></div></div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default theme-colr"
            ng-click="cancel()">
            CANCEL
        </button>
        <button type="button"   ng-click="SaveData(opted)"
                class="btn btn-primary theme-colr">
            SAVE
        </button>
    </div>
</div>
