
<div class="dashboard">
    <nav class="navbar navbar-fixed-top">
        <nav-bar></nav-bar>
    </nav><!--End Navigation Bar-->
   <!--end AMP-Sidebar-->
    <!--<div class="shortSidebar">
        <div class="innerSidebar">
            <ul>
                <li><a><i class="fa fa-home" style="font-size:24px"></i></a></li>
                <li><a><i class="fa fa-edit" style="font-size:24px"></i></a></li>
                <li><a><i class="fa fa-phone-square" style="font-size:24px"></i></a></li>
            </ul>
        </div>
    </div>-->
    <div class="mainContainer">
        <!--Start Main Container-->
        <div class="container-fluid dashboard-container" style="-ms-zoom: 0;zoom:0">

            <div class="titleHeading">
                <p><b>MDF P</b>ortfolio <b>O</b>ptimization and <b>W</b>orkflow <b>R</b>esource</p>
            </div>
            <div class="listImage">
                
                <div class="box">
                   <div class="box-head">Establish Policies, Guidelines &amp; Budget</div>
                   <div class="box-img">
                    <img src="assets/images/Landing/EstablishPolicies.png" alt="Establish Policies">
                   </div>
                   <div class="mod">Module 1</div>
                  <div class="arrow-right">
                  </div>
                  <div class="arrow-right-2">
                  </div>

                </div>

                <div class="box">
                  <div class="box-head">Set Country Budget</div>
                  <div class="box-img">
                    <img src="assets/images/Landing/Set Country Budget.png" alt="Set Country Budget">
                   </div>
                   <div class="mod">Module 2</div>
                  <div class="arrow-right">
                  </div>
                  <div class="arrow-right-2">
                  </div>
                </div>


                <div class="box">
                  <div class="box-head">Develop Activity Proposal</div>
                   <div class="box-img">
                    <img src="assets/images/Landing/Activity Proposal.png" alt="Develop Activity Proposal">
                   </div>
                   <div class="mod">Module 3</div>
                  <div class="arrow-right">
                  </div>
                  <div class="arrow-right-2">
                  </div>
                </div>

                <div class="box active" ng-click="goto()">
                  <div class="box-head">Set Partner Credit Guidance</div>
                  <div class="box-img">
                    <img src="assets/images/Landing/Credit Guidance.png" alt="Set Partner Credit Guidance">
                   </div>
                   <div class="mod">Module 4</div>
                  <div class="arrow-right">
                  </div>
                  <div class="arrow-right-2">
                  </div>
                </div>

                <div class="box">
                  <div class="box-head">Approve Partner Plan</div>
                  <div class="box-img">
                    <img src="assets/images/Landing/Approve Partner.png" alt="Approve Partner Plan">
                  </div>
                  <div class="mod">Module 5</div>
                  <div class="arrow-right">
                  </div>
                  <div class="arrow-right-2">
                  </div>
                </div>

                <div class="box">
                    <div class="box-head">Track Performance vs Plan</div>
                    <div class="box-img">
                        <img src="assets/images/Landing/Track Performance.png" alt="Track Performance vs Plan">
                    </div>
                    <div class="mod">Module 6</div>
                  <div class="arrow-right">
                  </div>
                  <div class="arrow-right-2">
                  </div>
                </div>


            <div class="col-lg-12 dash-img">
                <div class="col-lg-6">
                  <img class="img-responsive" src="assets/images/Landing/Asset 1.png"/>
                </div>
                <div class="col-lg-6">
                  <h4><b>Contra Program Objectives</b></h4>

                  <h3 class="conta-sub-head">
                    Improve net contra productivity  
                    to accelerate revenue and <br/>
                    gross profit growth.
                  </h3>

                  <div class="col-lg-6">
                      
                      <div class="conta-li"> 
                          <i  class="fa fa-circle contra-i" aria-hidden="true"></i>
                          <div class="contra-t">Optimize how HPE invests contra within aross geographies
                         & categories to mazimize ROI</div>
                      </div>
                    
                      <div class="conta-li"> 
                          <i  class="fa fa-circle contra-i" aria-hidden="true"></i>
                          <div class="contra-t">
                             Provide contra decision makers with timely analytics &amp; tools to make trade off
                          </div>
                      </div>

                      <div class="conta-li"> 
                          <i  class="fa fa-circle contra-i" aria-hidden="true"></i>
                          <div class="contra-t">
                             Develop a robust operating system (i.e metrics, dashboards, analytics)
                          </div>
                      </div>

                  </div>

                  <div class="col-lg-6">
                    <div class="conta-li"> 
                          <i  class="fa fa-circle contra-i" aria-hidden="true"></i>
                          <div class="contra-t">
                            Simplify processes - make it easier for customers and partners to grow with HPE
                          </div>
                      </div>

                      <div class="conta-li"> 
                          <i  class="fa fa-circle contra-i" aria-hidden="true"></i>
                          <div class="contra-t">
                            Define and transition to a simpler future state process &amp; system architecture
                          </div>
                      </div>

                      <div class="conta-li"> 
                          <i  class="fa fa-circle contra-i" aria-hidden="true"></i>
                          <div class="contra-t">
                            Structure contra compliance &amp; auditing processes to minimize contra leakage
                          </div>
                      </div>
                  </div>

                </div>
                    
                
            </div>

            
            </div>
            
        </div>
    </div>



</div>
</div>
