<td colspan="8" style="border-right: transparent;">
    
    <div class="col-lg-12" ng-if="!noGraph">
        <div class="col-lg-6">
            <h4 style="padding-left: 16%;">
                MDF
            </h4>
            <nvd3 options="TotalOptionsMDF" data="total.BusinnessUnitDetails[0].mdfBar"></nvd3>
            
        </div>
        <div class="col-lg-6">
            <h4 style="padding-left: 16%;">
                Sellout
            </h4>
            <nvd3 options="TotalOptionSellout" data="total.BusinnessUnitDetails[0].selloutBar"></nvd3>
        </div>
    </div>
    <div ng-if="noGraph">
        <div class="alert alert-danger no-data">
            No Data avaialable
        </div>
    </div>
</td>