<div class="row">
	<div class="col-lg-6 col-lg-offset-3 select-region">
		<div class="header">
			<h4>Select Country &amp; Bucket / Partner Type</h4>
		</div>
		<div class="country">
			<div class="col-lg-6">
				<label>
					Country
				</label>
			</div>

			<div class="col-lg-6">

				<select 
					class="custom-dropdown" 
					ng-options="country as country.CountryName for country in countries track by country.CountryID" 
					ng-model="selectedCountry"
					ng-change="changeCountryOrDistrict()"
					>
					
				</select>
			</div>
		</div>
		<div class="partner">
			
			<div class="col-lg-6">
				<label>
					 Bucket / Partner Type
				</label>
			</div>

			<div class="col-lg-6">
				<select 
					class="custom-dropdown" 
					ng-options="partner as partner.PartnerName for partner in partners track by partner.PartnerTypeID" 
					ng-model="selectedPartner"
					ng-change="changeCountryOrDistrict()"
					>
					
				</select>
			</div>
		</div>

		<!-- <div class="partner" ng-show="showDistrict">
			
			<div class="col-lg-6">
				<label>
					District
				</label>
			</div>

			<div class="col-lg-6">
				<select 
					class="custom-dropdown" 
					ng-options="district as district.DistrictName for district in districts track by district.DistrictID" 
					ng-model="selectedDistrict"
					>
					
				</select>
				


			</div>
		</div> -->
		<div class="control">
			<button class="btn btn-green pull-right login-button" ng-click="procced()">
				Proceed
			</button>
		</div>
	</div>
</div>