<!-- Graphs -->

<div ng-include="'components/budget/partner-budget/partials/graphs.html'" scope="" onload="">

</div>


<!-- Data -->
<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 data" id="pb-data" ng-init="hideGraph()" >   
  <div class="col-lg-12 data-container" id="pb-fixed-heder-container" style="z-index: 1">

    <!-- <scroll-horizontal target="data-container">

    </scroll-horizontal> -->

    <div ng-include="'components/budget/partner-budget/full-screen.html'">
      
    </div>
<div>


      <!--  <button ui-sref="budget.partner-budget-round2" class="btn btn-green pull-right login-button" style="margin-bottom: 21px;margin-right: 22px;">
            Next
          </button> -->
        </div>